@import "tailwindcss";

Hide default password reveal/clear icons in Chrome, Edge, and IE
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
}